.DS_Store
.bloop
.bsp
.idea
.metals
.vscode
*.bak
out
legacy/chisel/out
legacy/generated
*.qws
*.qdf
mill.*
build_id.v
c5_pin_model_dump.txt
db
greybox_tmp
incremental_db
jtag.cdf
output_files
test_run_dir
